body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #333333;
    text-transform: uppercase;
    min-width: 1280px;
    margin: 0;
    padding: 0;


}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.main-header {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;

}

.main-header-logo {
    position: absolute;
    left: 531px;
}

.main-navigation {
    display: flex;

    width: 1200px;

}

.site-navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 1200px;
}

.site-navigation-item {
    margin: 0;
    padding: 14px 75px;

}

.site-navigation-item:first-child {
    padding-left: 73px;
}

.site-navigation-item:nth-child(2) {
    margin-right: 240px;
}

.site-navigation a {
    color: #000000;
    text-decoration: none;
    line-height: 26px;
    font-weight: 700;

    display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-page {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.promo {
    min-height: 510px;
    width: 1199px;
    background-color: #3d75a0;
    background-image: url("../img/background photo.jpg");
    background-repeat: no-repeat;
    background-position: 0 -54px;
}

.promo-welcome {
    margin-top: 76px;
    margin-bottom: 17px;
    margin-left: 371px;
}

.promo-decor {
    margin-bottom: -7px;
    max-width: 1202px;
    margin-left: -1px;
}

.features {
    background-color: #ffffff;
}

.features-title {
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;

    width: 440px;
    text-align: center;
    margin: 62px auto;
}

.features-text {
    margin-top: -30px;
    text-align: center;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 53px;
    display: flex;
    flex-wrap: wrap;
}

.features-item {

    display: flex;
}

.features-item-blue {
    width: 1200px;
}

.features-item-blue:nth-child(3) {
    flex-direction: row-reverse;
}

.features-item-gray {
    width: 400px;
}

.features-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}

.features-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    width: 151px;
    margin: 42px auto;
}

.features-item span {
    text-align: center;
    margin-top: -23px;
}

.features-item p {
    width: 303px;
    text-align: center;
    padding: 0 48px;
    margin-top: 21px;
}
.gray-container p {
    width: 261px;
    padding: 0 70px;
}
.features-item-blue {
    background-color: #81b3d2;
    color: #ffffff;
}

.features-item-gray {
    background-color: #eeeeee;

}

.offers {
    background-color: #ffffff;
    margin-bottom: 70px;
}

.offers-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;

}

.offers-item {
    display: flex;
    width: 400px;

}
.offers-container {
    position: relative;
    left: -5px;
}
.offers-title {
    font-size: 21px;
    margin-top: 163px;
}
.offers-title::before{
    content: "";

    position: absolute;
    left: 170px;
    top: 57px;


}
.offers-title-house:before {
    background-image: url("../img/icon-1.svg");
    width: 75px;
    height: 72px;
}
.offers-title-food:before {
    background-image: url("../img/icon-3.svg");
    width: 74px;
    height: 70px;
}
.offers-title-souvenirs:before {
    background-image: url("../img/icon-2.svg");
    width: 64px;
    height: 76px;
}


.offers-item p {
    width: 290px;
    padding: 0 60px;
}

.search {
    background-color: #ffffff;
}

.title-search {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.search p {
    line-height: 24px;
    text-align: center;
}

.button {
    color: #ffffff;
    font-weight: 700;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    display: block;
    width: 568px;
    text-align: center;
    padding: 30px 0;
    margin: 47px auto;

}
.map {
    margin-top: -47px;
}

.main-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;


    background-color:rgba(255,255,255,0.9);


}
.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    width: 400px;
    padding: 0 10px;
    margin-top: 40px;
}

.footer-social-list {
    list-style: none;
    width: 400px;
}

.footer-copyright {
    width: 400px;
    line-height: 21px;
    text-align: center;
    margin-top: 17px;
    display: inline-block;
}
.footer-copyright p {
display: inline-block;
}
.footer-copyright img {

}
/***inner page********************************/
.filtres {
    background-color: #3d75a0;
    background-image: url("../img/filter background.jpg");
    background-repeat: no-repeat;
}

.catalog {
    background-color: #ffffff;
}

.catalog-list {
    list-style: none;
}

.title-hotel {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;

}

.title-hotel a {
    color: #000000;
}

.button-more,
.button-booking {
    font-size: 14px;
    line-height: 21px;
}

.button-more {
    background-color: #81b3d2;
}

.button-booking {
    background-color: #766357;
}

.rating {
    color: #666666;
    background-color: #f2f2f2;
}